<h2><%= @user.username %>'s Followings!</h2>

<b>Followings:</b> <%= @user.followings.count %><br />
ID -- username<br />
<% @user.followings.each do |f| %>
	<%= f.follower.id %> -- <%= f.follower.username %><br />
<% end %>

<b>followers:</b> <%= @user.followers.count %><br />

<% @user.followers.each do |f| %>
	<%= f.follower.id %> -- <%= link_to f.follower.username, "/#{f.follower.username}" %><br />
<% end %>