<h2>Beer Styles <span style="font-size:10pt">(powered by <%= link_to "BreweryDB", "http://www.brewerydb.com/" %>)</span></h2>

<%= form_tag "/beer_styles/", method: :get do %>
	<%= text_field_tag :query, "", size: "30", placeholder: "Search Beer Styles by name" %>
	<%= submit_tag "Search" %>
<% end %>

<h2>Beer Styles List</h2>
<table border="1" cellpadding="5">
	<tr>
		<th>Name</th>
		<th>Category</th>
		<th>abvMin</th>
		<th>abvMax</th>
		<th>ibuMin</th>
		<th>ibuMax</th>
		<th>Created at</th>
		<th>Updated at</th>
		<th>Links</th>
	</tr>
<% @beerStyles.each do |bs| %>
	<tr>
		<td><%= bs.name %></td>
		<td><%= bs.category %></td>
		<td><%= bs.abvMin %></td>
		<td><%= bs.abvMax %></td>
		<td><%= bs.ibuMin %></td>
		<td><%= bs.ibuMax %></td>
		<td><%= bs.created_at %></td>
		<td><%= bs.updated_at %></td>
		<td>
			<%= link_to "Show", beer_style_path(bs) %> | 
			<%= link_to "Edit", edit_beer_style_path(bs) %>
		</td>
	</tr>
<% end %>
</table>
<p><%= link_to "Add a Beer Style", new_beer_style_path %></p>
<p><%= link_to "View List of Beers", beers_path %></p>
