<h1>BeerStyles#index</h1>
<p>Find me in app/views/beer_styles/indexs.html.erb</p>

<table border="1" cellpadding="5">
	<tr>
		<th>Name</th>
		<th>Category</th>
		<th>abvMin</th>
		<th>abvMax</th>
		<th>ibuMin</th>
		<th>ibuMax</th>
		<th>Created at</th>
		<th>Updated at</th>
		<th>Links</th>
	</tr>
<% @beerStyles.each do |bs| %>
	<tr>
		<td><%= bs.name %></td>
		<td><%= bs.category %></td>
		<td><%= bs.abvMin %></td>
		<td><%= bs.abvMax %></td>
		<td><%= bs.ibuMin %></td>
		<td><%= bs.ibuMax %></td>
		<td><%= bs.created_at %></td>
		<td><%= bs.updated_at %></td>
		<td>
			<%= link_to "Show", beer_style_path(bs) %> | 
			<%= link_to "Edit", edit_beer_style_path(bs) %> | 
			<%= link_to "Destroy", beer_style_path(bs), method: :delete, data: {confirm: "Are you sure?"} %>
		</td>
	</tr>
<% end %>
</table>
<p><%= link_to "Add a Beer Style", new_beer_style_path %></p>
<p><%= link_to "View List of Beers", beers_path %></p>
