<h1><%= @beerStyle.name %></h1>

<table>
	<tr>
		<th>Category</th>
		<td><%= @beerStyle.category %></td>
	</tr>
	<tr>
		<th>description</th>
		<td><%= @beerStyle.description %></td>
	</tr>
	<tr>
		<th>abvMin</th>
		<td><%= @beerStyle.abvMin %></td>
	</tr>
	<tr>
		<th>abvMax</th>
		<td><%= @beerStyle.abvMax %></td>
	</tr>
	<tr>
		<th>ibuMin</th>
		<td><%= @beerStyle.ibuMin %></td>
	</tr>
	<tr>
		<th>ibuMax</th>
		<td><%= @beerStyle.ibuMax %></td>
	</tr>
	<tr>
		<th>ogMin</th>
		<td><%= @beerStyle.ogMin %></td>
	</tr>
	<tr>
		<th>ogMax</th>
		<td><%= @beerStyle.ogMax %></td>
	</tr>
	<tr>
		<th>fgMin</th>
		<td><%= @beerStyle.fgMin %></td>
	</tr>
	<tr>
		<th>fgMax</th>
		<td><%= @beerStyle.fgMax %></td>
	</tr>
	<tr>
		<th>srmMin</th>
		<td><%= @beerStyle.srmMin %></td>
	</tr>
	<tr>
		<th>srmMax</th>
		<td><%= @beerStyle.srmMax %></td>
	</tr>
</table>
<%= render "beer_styles/share" %>
<h2>Fermently Averages</h2>
<%= render "beers/averages_for_a_beer_style" %>
<br />

<h2>Homebrews made with this style</h2>
<%= render "beers/table" %>
<br />
<%= link_to "Beer Styles Home", beer_styles_path, class: "btn btn-info" %> 
<%= link_to "Search All Beers", beers_path, class: "btn btn-info" %>