<h1><%= @beerStyle.name %></h1>

<table>
	<tr>
		<th>Category</th>
		<td><%= @beerStyle.category %></td>
	</tr>
	<tr>
		<th>description</th>
		<td><%= @beerStyle.description %></td>
	</tr>
	<tr>
		<th>abvMin</th>
		<td><%= @beerStyle.abvMin %></td>
	</tr>
	<tr>
		<th>abvMax</th>
		<td><%= @beerStyle.abvMax %></td>
	</tr>
	<tr>
		<th>ibuMin</th>
		<td><%= @beerStyle.ibuMin %></td>
	</tr>
	<tr>
		<th>ibuMax</th>
		<td><%= @beerStyle.ibuMax %></td>
	</tr>
	<tr>
		<th>ogMin</th>
		<td><%= @beerStyle.ogMin %></td>
	</tr>
	<tr>
		<th>ogMax</th>
		<td><%= @beerStyle.ogMax %></td>
	</tr>
	<tr>
		<th>fgMin</th>
		<td><%= @beerStyle.fgMin %></td>
	</tr>
	<tr>
		<th>fgMax</th>
		<td><%= @beerStyle.fgMax %></td>
	</tr>
	<tr>
		<th>srmMin</th>
		<td><%= @beerStyle.srmMin %></td>
	</tr>
	<tr>
		<th>srmMax</th>
		<td><%= @beerStyle.srmMax %></td>
	</tr>
	<tr>
		<th>Created At</th>
		<td><%= @beerStyle.created_at %></td>
	</tr>
	<tr>
		<th>Updated At</th>
		<td><%= @beerStyle.updated_at %></td>
	</tr>
</table>
<p><%= link_to "Edit This Style", edit_beer_style_path %><br />
<%= link_to "Beer Styles Home", beer_styles_path %></p>
<br />
<h2>Homebrews made with this style</h2>
<table cellpadding="5" border="1">
	<tr>
		<th>Name</th>
		<th>Rating</th>
		<th>abv</th>
		<th>OG</th>
		<th>FG</th>
		<th>Date Brewed</th>
		<th>Date Bottled</th>
		<th>Priming</th>
		<th>Links</th>
	</tr>
<% @beers.each do |b| %>
	<tr>
		<td><%= b.name %></td>
		<td><%= b.rating %></td>
		<td><%= b.abv %></td>
		<td><%= b.og %></td>
		<td><%= b.fg %></td>
		<td><%= b.dateBrewed %></td>
		<td><%= b.dateBottled %></td>
		<td><%= b.priming %></td>
		<td>
			<%= link_to "Show", beer_path(b) %> | 
			<%= link_to "Edit", edit_beer_path(b) %> | 
			<%= link_to "Delete", b, method: :delete %>
		</td>
	</tr>
<% end %>
</table>


<p><%= link_to "Beers Home", beers_path %></p>