<h2>Users</h2>

<br />
<%= form_tag "/users", method: :get do %>
	<%= text_field_tag :query, "", size: "30", placeholder: "username or email" %>
	<%= submit_tag "Search",  class: "btn btn-info"  %>
<% end %>
<br />

<table class="table-bordered table-hover table-responsive" cellpadding="5px">
	<tr style="background-color:lightgrey;">
		<th>Username</th>
		<th>Member Since</th>
		<th>Homebrews</th>
		<th>Following</th>
		<th>Followers</th>
	</tr>
<% @users.each do |u| %>
	<tr>
		<th>
			<span class="label label-primary" style="font-size:10pt;">
				<%= link_to u.username, "/#{u.username}", style: "color: white;" %>
			</span>
		</th>
		<td><center><%= u.created_at.to_date.strftime("%b %_m, %Y") %></center></td>
		<th><%= u.beers.count %></th>
		<th><%= u.followings.count %></th>
		<th><%= u.followers.count %></th>
	</tr>
<% end %>
</table>