<div class="panel-group" id="accordion">
  <div class="panel panel-default">
  	<a  data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
    	<div class="panel-heading">
      	<h4 class="panel-title">Completed User Stories</h4>
    	</div>
    </a>
    
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
      	<ol>
					<li>As a user, I want to be able to see a list of beer styles.</li>
					<li>As a user, I want to be able to add a beer and it's related data to the website.</li>
					<li>As a user, I want to have my own account.</li>
					<li>As a user, I want to be able to log in using my email address or my username.</li>
					<li>As a user, I want to have my own profile page.</li>
					<li>As a user, I want my profile to have an easy-to-remember URL.</li>
						<ul>
							<li>fermently.com/username</li>
						</uL>
					<li>As a user, I want to connect beers to my profile.</li>
					<li>As a user, I want to see a list of beers that I've brewed, in descending chronological order (<%= link_to "ActiveRecord Ordering", "http://guides.rubyonrails.org/active_record_querying.html#ordering" %>).</li>
					<li>As a user, I want to be able to search all beers added to the system (<%= link_to "RailsCast", "http://railscasts.com/episodes/37-simple-search-form" %>).</li>
					<li>As a user, I want to be able to see my friends profile pages.</li>
					<li>As a user, I want to be able to to be followed by my friends, and to be able to follow them (<%= link_to "StackOverflow", "http://stackoverflow.com/questions/3397920/relationship-like-twitter-followers-followed-in-activerecord" %>).</li>
					<li>As a user, I want to add a brewer that I'm following to a beer that I brewed (<%= link_to "M:N relationship RailsCast", "http://railscasts.com/episodes/47-two-many-to-many" %>).</li>
					<li>As a user, I want to be able to block someone from following me.</li>
					<li>As a user, I want to be able to unblock someone.</li>
					<li>As a user, I want to be able to stop following someone (<%= link_to "concept article [I wound up using a more streamlined version of this]", "http://ryantownsend.co.uk/post/13058102942/unobtrusive-object-deletion-in-rails" %>).</li>
					<li>As a user, I want to be able to see averages of metrics for specific beers listed on it's beer style page (<%= link_to "ActiveRecord.average()", "http://api.rubyonrails.org/classes/ActiveRecord/Calculations.html#method-i-average" %>, <%= link_to "avg from an Array", "http://stackoverflow.com/questions/1341271/how-do-i-create-an-average-from-a-ruby-array" %>).</li>
					<li>As a user, I want to see a list of beer styles from BreweryDB.(<%= link_to "db:seed RailsCast", "http://railscasts.com/episodes/179-seed-data" %>, <%= link_to "breweryDB", "http://www.brewerydb.com/" %>)</li>
					<li>As a user, I want to be able to search for users (<%= link_to "acts_as_indexed", "https://github.com/dougal/acts_as_indexed" %>).</li>
					<li>As a user, I want to be able to search for beer styles (<%= link_to "acts_as_indexed", "https://github.com/dougal/acts_as_indexed" %>).</li>
					<li>As a user, I want dates on the website to be more readable (<%= link_to "apiDock article", "http://apidock.com/ruby/DateTime/strftime" %>).</li>
					<li>As a user, I want to be able to share my beer over facebook (<%= link_to "shareable", "https://github.com/hermango/shareable" %>, <%= link_to "developers.facebook.com", "https://developers.facebook.com/docs/plugins/share-button/" %>).</li>
					<li>As a user, I want to be able to share my beer over twitter (<%= link_to "shareable", "https://github.com/hermango/shareable" %>, <%= link_to "about.twitter.com", "https://about.twitter.com/resources/buttons#tweet" %>).</li>
					<li>As an admin, I want to be able to confirm user identity through email (<%= link_to "devise confirmable using ActionMailer", "http://stackoverflow.com/questions/8186584/how-do-i-set-up-email-confirmation-with-devise" %>, <%= link_to "sendGrid Set-up", "https://devcenter.heroku.com/articles/sendgrid" %>).</li> 
					<li>As a user, I want to see a website that looks like it's from the year 2014 (<%= link_to "getBootstrap", "http://getbootstrap.com/" %>).</li>
				</ol>
     	</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
      	<h4 class="panel-title">
          Upcoming User Stories
      	</h4>
      </a>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      	<ul>
      		<li>As a user, I want to a way to divide up the AboutDev page so that it's easier to read (<%= link_to "Bootstrap Accordion", "http://getbootstrap.com/javascript/#collapse" %>).</li>
      		<li>As a user, I want to remove a brewer from a beer I've brewed.</li>
      		<li>As a user, I want to have a 'dashboard' or landing page for when I log in. Something showing the following:</li>
					<ul>
						<li>Recently brewed beers from my friends</li>
						<li class="complete">New accounts</li>
						<li>New Happenings on the site (did my friends follow someone?)</li>
						<li>Beer Style of the week</li>
					</ul>
					<li>As an admin, I want to be able to confirm user identity through Twitter (<%= link_to "omniauth RailsCast", "http://asciicasts.com/episodes/241-simple-omniauth" %>, <%= link_to "omniauth-twitter", "https://github.com/arunagw/omniauth-twitter" %>) or facebook (<%= link_to "omniauth-facebook", "https://github.com/plataformatec/devise/wiki/OmniAuth%3A-Overview" %>).</li> 
					<li>As a user, I want all tables to be sortable by column (<%= link_to "railsCast", "http://railscasts.com/episodes/228-sortable-table-columns" %>)</li>
					<li>As a user, I want to be able eat bacon and bagels with cream cheese.</li>
					<li>As a user, I only want myself and fellow brewers to be able to edit/destroy a beer. (CanCan)</li>
					<li>As a user, I want to be able to view a category of beer styles.</li>
					<li>As a user, I want to be able to add a profile picture! (omniauth-facebook)(Paperclip)</li>
					<li>As a user, I want to be able to add a picture to my beer. (Paperclip)</li>
					<li>As a user, I want to be able to list my homebrews on Untappd (<%= link_to "Untappd API", "https://untappd.com/api/docs" %>).</li>
					<li>As a user, I want to receive reminders about my beers (<%= link_to "Action Mailer basics -- guides.rubyonrails.org", "http://guides.rubyonrails.org/action_mailer_basics.html" %>, <%= link_to "simple RailsCast", "http://railscasts.com/episodes/61-sending-email" %>).</li>
					<li>As a developer, I would like to explore streamlined follow/follower system using the <%= link_to "acts_as_follower", "https://github.com/tcocca/acts_as_follower" %> gem.</li>
					<li>As a Fermently Twitter User, I would like the links to Fermently to be shorter (bit.ly API).</li>
					<li>As a developer, I would like custom social media messages depending on the path that a user is sharing from.</li>
					<li>As a user, i want to see some sort of a logo/branding on the site.</li>
      	</ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
  	<div class="panel-heading">
  		<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
      	<h4 class="panel-title">
          Ruby Gems in Use
      	</h4>
      </a>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
      	<ul>
					<li>Devise</li>
					<li>acts_as_indexed</li>
					<li>brewery-db (with json & rest-client)</li>
					<li>rails_12factor & pg (interface with PostgreSQL)</li>
					<li>dotenv-rails</li>
					<li>bootstrap-sass</li>
					<li>shareable</li>
					<li>jquery-rails, jquery_mobile_rails</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
  	<div class="panel-heading">
  		<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
      	<h4 class="panel-title">
          Thanks
      	</h4>
      </a>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
      	<p>I developed this website while taking the <%= link_to "Back-end Web Development", "https://generalassemb.ly/education/back-end-web-development", target: "new" %> class at General Assembly in NYC. I owe quite a bit of thanks to our fearless instructor, <%= link_to "Eric Collins", "https://github.com/tabfugnic", target: "new" %>, and our two TA's, <%= link_to "Zach Reitano", "https://github.com/zreitano", target: "new" %>, and <%= link_to "Jamal Powell", "https://github.com/Jamalp", target: "new" %>. Also, to my classmates, without whom this process would have been nowhere as fun as it was. Specifically, thanks to Eleanor Whitney, Vish Reddy, and Martin Lerda for their input both in class, and during our many coding session's at an innumberable number of coffee shops around NYC. Lastly, a big shout-out to everyone at GA, my family, friends and roommates, many of whom had to listen to me blabber on and on about how awesome ActiveRecord is, and how frustrating setting custom routes in Rails can be. You guys rock!</p>
      </div>
    </div>
  </div>
</div>