<table width=100%>
	<tr>
		<td>
			<center>
				<div class="jumbotron">
				  <h1>Welcome to Fermently!</h1>
				  <p>Your one stop shop for recording and sharing your brewing data!</p>
				  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
				</div>
			<div style="background-color:lightgray; width: 250px; text-align: center">
				<span style="font-size: 16pt; font-weight: bold">
					Did you brew a beer today?<br />
					<%= link_to "Add a Homebrew", new_beer_path %>
				</span>
			</div>
			<br />
			<span style="font-size: 16pt">
			<%= link_to "Search for a Beer", beers_path %>
			</span>

			</center>
		</td>
		<td>
			<div style="background-color: #789AFF; width:100px; text-align: center">
			
				<h3>Newest Users:</h3>
				<hr />
				<% @users.each do |u| %>
					<b><%= link_to u.username, "/#{u.username}" %></b><br />
				<% end %>
				<br />
				
				<%= link_to "All Users", users_path %>

			</div>
		</td>
	</tr>
</table>

<h3>Check out the latest Homebrews!</h3>
<%= render "beers/table" %>