<h2>Profile Page</h2>

<b>Username:</b> <%= @user.username %><br />
<b>Homebrews:</b> <%= @beers.count %><br />
<b>Followers:</b> <%= link_to @user.followers.count.to_s + " Homebrewers", show_followers_path %><br />
<b>Following:</b> <%= link_to @user.followings.count.to_s + " Homebrewers", show_following_path %><br />
<b>Joined:</b> <%= @user.created_at.strftime("%b %_m, %Y") %><br />

<%= render "/home/share" %>

<% if current_user == @user %>
	<br />
	<%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
	<br />
<% end %>

<br />

<% if user_signed_in? %>
	<% if current_user != @user %>
		
		<% #User Blocked current_user %>
		<% if @user.blockings.exists?(follower: current_user) %>
			<b><%= @user.username %></b> has blocked you!

		<% else %>
			<% #current_user is following user %>	
			<% if @user.followers.exists?(follower: current_user) %>

				<% @following = current_user.followings.where(user: @user).first %>
				<%= link_to "Stop following #{@user.username}", delete_user_following_path(@user, @following), class: "btn btn-primary" %><br />

			<% else %>
				<%= link_to "Follow", new_user_following_path(@user), class: "btn btn-primary" %><br />
			<% end %>
		<% end %>

		<% #unblock user %>
		<% if current_user.blockings.exists?(follower: @user) %>

			<% @blocking = current_user.blockings.where(follower: @user).first %>
			
			<br />You have blocked <b><%= @user.username %></b>. (<%= link_to "unblock", unblock_user_following_path(@user, @blocking), data: { confirm: "Are you sure you want to unblock #{@user.username}?" } %>)<br /><br />

		<% #user is Following you %>
		<% elsif current_user.followers.exists?(follower: @user) %>

			<% @following = current_user.followers.where(follower: @user).first %>

			<br /><b><%= @user.username %></b> is following you (<%= link_to "block", block_user_following_path(@user, @following), data: { confirm: "Are you sure you want to block #{@user.username}?" } %>)<br /><br />

		<% end %>
	<% end %>
<% end %>

<%= render "beers/table" %>
<br />

<% if user_signed_in? && @user == current_user %>
	<p><%= link_to "Add a beer", new_beer_path, class: "btn btn-success" %></p>
<% end %>