<% if @beers.count >= 1  %>

<table cellpadding="5" border="1">
	<tr>
		<th>Name</th>
		<th>Style</th>
		<th>OG</th>
		<th>FG</th>
		<th>abv</th>
		<th>Date Brewed</th>
		<th>Date Bottled</th>
		<th>Priming</th>
		<th>Brewer Rating</th>
		<th>Brewer(s)</th>
		<th>Links</th>
	</tr>
<% @beers.each do |b| %>
	<tr>
		<td><%= b.name %></td>
		<td><%= b.beer_style.name %></td>
		<td><%= b.og %></td>
		<td><%= b.fg %></td>
		<td><%= b.abv %></td>
		<td><%= b.dateBrewed.to_date.strftime("%b %_m, %Y") %></td>
		<td>
			<% unless b.dateBottled.nil? %>
				<%= b.dateBottled.to_date.strftime("%b %_m, %Y") %>
			<% end %>
		</td>
		<td><%= b.priming %></td>
		<td><%= b.rating %></td>
		<td>
			<% b.users.each do |u| %>
				<%= link_to u.username, "/#{u.username}" %><br />
			<% end %>
		</td>
		<td>
			<%= link_to "Show", beer_path(b) %>
			<% if user_signed_in? %>
					| <%= link_to "Edit", edit_beer_path(b) %> | 
					<%= link_to "Delete", b, method: :delete, data: {confirm: "Are you sure you want to delete this beer?" } %>
			<% end %>
		</td>
	</tr>
<% end %>
</table>

<% else %>
	<p>Oops! It seems we couldn't find any homebrews!</p>
<% end %>