<h1>Beers#index</h1>
<p>Find me in app/views/beers/index.html.erb</p>
<table cellpadding="5" border="1">
	<tr>
		<th>Name</th>
		<th>Style</th>
		<th>OG</th>
		<th>FG</th>
		<th>abv</th>
		<th>Date Brewed</th>
		<th>Date Bottled</th>
		<th>Priming</th>
		<th>Brewer Rating</th>
		<th>Links</th>
	</tr>
<% @beers.each do |b| %>
	<tr>
		<td><%= b.name %></td>
		<td><%= b.beer_style.name %></td>
		<td><%= b.og %></td>
		<td><%= b.fg %></td>
		<td><%= b.abv %></td>
		<td><%= b.dateBrewed %></td>
		<td><%= b.dateBottled %></td>
		<td><%= b.priming %></td>
		<td><%= b.rating %></td>
		<td>
			<%= link_to "Show", beer_path(b) %> | 
			<%= link_to "Edit", edit_beer_path(b) %> | 
			<%= link_to "Delete", b, method: :delete %>
		</td>
	</tr>
<% end %>
</table>

<p><%= link_to "Add a beer", new_beer_path %></p>
<p><%= link_to "View Beer Styles", beer_styles_path %></p>