<h2>Beer View</h2>

<b>Name:</b> <%= @beer.name %><br />
<b>Beer Style:</b> <%= link_to @beer.beer_style.name, beer_style_path(@beer.beer_style) %><br />
<b>Recipe:</b> <%= @beer.recipe %><br />

	<p>
		<b>Brewers:</b> 
		<% @beer.users.each do |u| %>
			<%= link_to u.username, "/#{u.username}"  %>
		<% end %>
	</p>

<b>OG:</b> <%= @beer.og %><br />
<b>FG:</b> <%= @beer.fg %><br />
<b>ABV:</b> <%= @beer.abv %><br />
<b>Date Brewed:</b> 
	<% unless @beer.dateBrewed == nil %>
		<%= @beer.dateBrewed.to_date.strftime("%b %_m, %Y") %>
	<% end %>
	<br />
<b>Date Bottled:</b> 
	<% unless @beer.dateBottled == nil %>
		<%= @beer.dateBottled.to_date.strftime("%b %_m, %Y") %>
	<% end %>
	<br />
<b>Priming:</b> <%= @beer.priming %><br />
<b>Rating:</b> <%= @beer.rating %><br />
<b>Brewer Comment:</b> <%= @beer.brewerComment %><br />
<b>Created At:</b> <%= @beer.created_at.to_date.strftime("%b %_m, %Y") %><br />
<b>Updated At:</b> <%= @beer.updated_at.to_date.strftime("%b %_m, %Y") %><br />

<%= render "beers/share" %>

<br />
<% if user_signed_in? && @beer.users.exists?(current_user) %>
	<%= link_to "Edit Beer", edit_beer_path, class: "btn btn-primary" %>
<% end %>
<%= link_to "Search All Beers", beers_path, class: "btn btn-info" %>