<div class="row">
	<div class="col-md-12">
		<h2>
			<%= @beer.name %> <small>(rating: <%= @beer.rating %>)</small>
			
			<% if user_signed_in? && @beer.users.exists?(current_user) %>
				<%= link_to "Edit Beer", edit_beer_path, class: "btn btn-primary btn-xs" %>
			<% end %>
		</h2>
</div>
</div>
<div class="row">
	<div class="col-md-4">
		<table class="table">
			<tr>
				<th width="50%">Beer Style</th>
				<th>Recipe</th>
			</tr>
			<tr>
				<td><%= link_to @beer.beer_style.name, beer_style_path(@beer.beer_style) %></td>
				<td><%= @beer.recipe %></td>
			</tr>
			<tr>
				<th>Brewers</th>
				<td>
					<% @beer.users.each do |u| %>
						<span class="label label-primary"><%= link_to u.username, "/#{u.username}", style: "color: white;" %></span>
					<% end %>
				</td>
			</tr>
		</table>

		<table class="table">
			<tr>
				<th>Description</th>
			</tr>
			<tr>
				<td colspan="2"><%= @beer.description %></td>
			</tr>
		</table>

	</div>

	<div class="col-md-4">
		<table class="table">
			<tr>
				<th>Date Brewed</th>
				<th>Date Bottled</th>
				<th>Priming</th>
			</tr>
			<tr>
				<td>
					<% unless @beer.dateBrewed == nil %>
						<%= @beer.dateBrewed.to_date.strftime("%b %_m, %Y") %>
					<% end %>
				</td>
				<td>
					<% unless @beer.dateBottled == nil %>
						<%= @beer.dateBottled.to_date.strftime("%b %_m, %Y") %>
					<% end %>
				</td>
				<td><%= @beer.priming %></td>
			</tr>
			<tr>
				<th>OG</th>
				<th>FG</th>
				<th>ABV</th>
			</tr>
			<tr>
				<td><%= @beer.og %></td>
				<td><%= @beer.fg %></td>
				<td><%= @beer.abv %></td>
			</tr>
		</table>
	</div>

	<div class="col-md-4">
		<%= render "beers/share" %>
	</div>
</div>
<h3>Comments</h3>
<% @beer.comments.each do |c| %>
	<b><%= c.user.username %></b>: <%= c.text %> <i>(<%= c.created_at.strftime("%b %_m, %Y") %>)</i>	<br />
<% end %>
<br />

<div class="col-md-3">
	<div class="well well-sm">
		<% if !user_signed_in? %>
			Please sign in and follow a brewer of this beer to post a comment.
		<% elsif @isUserFollowingBrewer %>

			<%= form_for [@beer, @comment] do |f| %>
				<%= f.label "New Comment" %><br />
				<%= f.text_area :text, size: "40x5" %><br />
				<br />
				<%= f.submit %>
			<% end %>

		<% else %>
			Please follow a brewer of this beer to post a comment.
		<% end %>
	</div>
</div>